.title {
  text-align: center;
}

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.social a {
  display: block;
  flex: 1 1 auto;
  border-radius: 6px;
  padding: 10px;
}

.social a:hover {
  background: #f2e936;
}