.title {
  text-align: center;
}

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.social a {
  display: block;
  flex: 1 1 auto;
  border-radius: 6px;
  padding: 10px;
}

.social a:hover {
  background: #f2e936;
}

body {
  --content-width: 100%;
  --line-color: #0000001a;
  /* --line-color: #000000; */
  --line-width: 1px;
  background:
    /* Vertical Line 1 */
    linear-gradient(90deg, transparent, transparent calc(50vw - var(--content-width) / 2), var(--line-color) calc(50vw - var(--content-width) / 2), var(--line-color) calc(50vw - var(--content-width) / 2 + var(--line-width)), transparent calc(50vw - var(--content-width) / 2 + var(--line-width)), transparent),
    /* Vertical Line 5 */
    linear-gradient(90deg, transparent, transparent calc(50vw + var(--content-width) / 2 - var(--line-width)), var(--line-color) calc(50vw + var(--content-width) / 2 - var(--line-width)), var(--line-color) calc(50vw + var(--content-width) / 2 - var(--line-width) + var(--line-width)), transparent calc(50vw + var(--content-width) / 2 - var(--line-width) + var(--line-width)), transparent),
    /* Horizontal repeating lines to create the dashed experience of the 3 center vertical lines */
    repeating-linear-gradient(180deg, transparent, transparent 6px, #fff 6px, #fff calc(6px + var(--line-width) * 2)),
    /* Vertical Line 2 */
    linear-gradient(90deg, transparent, transparent calc(50vw - var(--content-width) / 4 - var(--line-width) / 4), var(--line-color) calc(50vw - var(--content-width) / 4 - var(--line-width) / 4), var(--line-color) calc(50vw - var(--content-width) / 4 - var(--line-width) / 4 + var(--line-width)), transparent calc(50vw - var(--content-width) / 4 - var(--line-width) / 4 + var(--line-width)), transparent),
    /* Vertical Line 3 */
    linear-gradient(90deg, transparent, transparent calc(50vw - var(--line-width) / 2), var(--line-color) calc(50vw - var(--line-width) / 2), var(--line-color) calc(50vw + var(--line-width) - var(--line-width) / 2), transparent calc(50vw + var(--line-width) - var(--line-width) / 2), transparent),
    /* Vertical Line 4 */
    linear-gradient(90deg, transparent, transparent calc(50vw + var(--content-width) / 4 - var(--line-width) / 2), var(--line-color) calc(50vw + var(--content-width) / 4 - var(--line-width) / 2), var(--line-color) calc(50vw + var(--content-width) / 4 - var(--line-width) / 2 + var(--line-width)), transparent calc(50vw + var(--content-width) / 4 - var(--line-width) / 2 + var(--line-width)), transparent);
}